.club-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:20px;

}

.club-card{

background:#10294f;

padding:25px;

border-radius:15px;

text-align:center;

transition:.3s;

}

.club-card:hover{

transform:translateY(-5px);

}

.club-card img{

width:140px;

height:140px;

object-fit:contain;

margin-bottom:15px;

}