.player-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}

.player-card{

background:#10294f;

padding:20px;

border-radius:15px;

text-align:center;

transition:.3s;

}

.player-card:hover{

transform:translateY(-5px);

}

.player-card img{

width:150px;
height:150px;

object-fit:cover;

border-radius:50%;

margin-bottom:15px;

}

.player-card h3{

margin-bottom:10px;

}